# Jupyter Notebook
.ipynb_checkpoints/
*-checkpoint.ipynb

# Python / Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# System / OS
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.swp
